.dataGrideContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 10px solid red; */
}

.css-yrdy0g-MuiDataGrid-columnHeaderRow{
    font-weight: bolder;
    font-size: 20px;
    color: blue;
}

.Cellclass{
    border: 1px solid black;
}